.custom-ion-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Add this to PanchangCalendar.css or App.css */
.react-calendar {
    width: 100%;
    max-width: 400px;
    background: linear-gradient(45deg, var(--primary), var(--secondary)) !important;
    color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
  }
  
  .custom-router-outlet {
    height: auto;
    overflow: auto;
  }

  .content {
    flex: 1;
    overflow-y: auto;
  }

  .instagram-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, var(--primary), var(--secondary)) !important;
    color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .hoj-header .toolbar-title-default .toolbar-background {
    background: linear-gradient(45deg, var(--primary), var(--secondary)) !important;
    color: #ffffff;
  }

  div.toolbar-background{
    background: linear-gradient(45deg, var(--primary), var(--secondary)) !important;
    color: #ffffff;
  }

  .mt-2rem {
    margin-top: 2rem;
  }

  .mt-5rem {
    margin-top: 5rem;
  }